@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Lato", sans-serif;
  }

  .week {
    background-image: url(./assets/week-back.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#topic::-webkit-scrollbar{
  width: 0;
}
